Repository Loyla486/Ryujinx, changes with the labels that .github/labeler.yml gives for each.
All labels: audio, cpu, gpu, graphics-backend:opengl, graphics-backend:vulkan, gui, horizon, kernel, infra

headless: fix vulkan exclusive fullscreen ignored
  src/Ryujinx.Graphics.Vulkan/Window.cs
  src/Ryujinx.Headless.SDL2/Vulkan/VulkanWindow.cs
Labels: graphics-backend:vulkan

Update LICENSE.txt
  LICENSE.txt
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update dependabot.yml
  .github/dependabot.yml
Labels: infra

Update mako.yml
  .github/workflows/mako.yml
Labels: none

Update README.md
  README.md
Labels: none

Rename dependabot.yml to dependabot(OLD).yml
  .github/dependabot(OLD).yml
Labels: infra

Delete .github/dependabot(OLD).yml
  .github/dependabot(OLD).yml
Labels: infra

Update LICENSE.txt
  LICENSE.txt
Labels: none

Add files via upload
  docs/logo.png
Labels: none

Update README.md
  README.md
Labels: none

Add files via upload
  docs/shell.png
Labels: none

.github/labeler.yml:

audio: 'src/Ryujinx.Audio*'

cpu:
  - 'src/ARMeilleure//*'
  - 'src/Ryujinx.Cpu/*'
  - 'src/Ryujinx.Memory/*'

gpu:
  - 'src/Ryujinx.Graphics.*'
  - 'src/Spv.Generator/*'
  - 'src/Ryujinx.ShaderTools/*'

'graphics-backend:opengl': 'src/Ryujinx.Graphics.OpenGL/*'
'graphics-backend:vulkan':
  - 'src/Ryujinx.Graphics.Vulkan/*'
  - 'src/Spv.Generator/*'

gui:
  - 'src/Ryujinx/*'
  - 'src/Ryujinx.Ui.Common/*'
  - 'src/Ryujinx.Ui.LocaleGenerator/*'
  - 'src/Ryujinx.Ava/*'

horizon:
  - 'src/Ryujinx.HLE/*'
  - 'src/Ryujinx.Horizon*'

kernel: 'src/Ryujinx.HLE/HOS/Kernel/*'

infra:
  - '.github/*'
  - 'distribution/*'
  - 'Directory.Packages.props'
